<h2>Gio Hang</h2>
<a href="@Url.Action("Index", "ProductClient")"> Tiep tuc mua hang</a>
<table class=" table">
    <thead>
        <tr>
            <th> Ten san pham</th>
            <th>Hinh san pham </th>
            <th> Gia</th>
            <th>So luong </th>
            <th>thanh tien</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                chua co san pham nao.....
            </td>
        </tr>
    </tbody>
</table>

